<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632303956932-a7okpkqip9dobj8k3datdet8st12orpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632303956932-a7okpkqip9dobj8k3datdet8st12orpv</string>
	<key>API_KEY</key>
	<string>AIzaSyDzfaVPJcY6JH1PKd7pVZIfAobRgefh77U</string>
	<key>GCM_SENDER_ID</key>
	<string>632303956932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sis.esu</string>
	<key>PROJECT_ID</key>
	<string>esuproject-f2f9c</string>
	<key>STORAGE_BUCKET</key>
	<string>esuproject-f2f9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632303956932:ios:396e1a2bc9d2836b2b2a91</string>
</dict>
</plist>