<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089583762094-1hqkr4ridfeno7ehgejp33a6sq54vvsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089583762094-1hqkr4ridfeno7ehgejp33a6sq54vvsv</string>
	<key>API_KEY</key>
	<string>AIzaSyCXUYhoE88tGUc0NOvgYUFeHAXg_1qyrrc</string>
	<key>GCM_SENDER_ID</key>
	<string>1089583762094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sis.esu.dev</string>
	<key>PROJECT_ID</key>
	<string>esuproject-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>esuproject-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089583762094:ios:c8d7d5e9bc7860a7383b3f</string>
</dict>
</plist>